<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/movieStyle.css">
</head>

<body>

    <h1>The Chung & Hibray Collaboration Studio</h1>

    <nav>
        <a href="/" id="returnHome">Return to Home Page</a>
        <br>
        <br>
        <a href="/view_directors">Directors</a>
        <a href="/view_actors">Actors</a>
        <a href="/view_movies">Movies</a>
        <a href="/view_stuntpersons">Stuntpersons</a>
    </nav>

    <br>

    {{{body}}}
</body>
<script src="/movieDBDOMdirector.js"></script>
<script src="/movieDBDOMstuntperson.js"></script>
<script src="/movieDBDOMactor.js"></script>
<script src="/movieDBDOMmovie.js"></script>
<script src="/movieDBDOMstuntactorpair.js"></script>
<script src="/movieDBDOMmovieactorpair.js"></script>

</html>