<!-- Danny Chung || chungdan@oregonstate.edu || CS340-->
<!-- Hailee Hibray || hibrayh@oregonstate.edu || CS340-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Chung & Hibray Collaboration Studio</title>
</head>

<body>

    <p>The Chung & Hibray Collaboration Studio Homepage</p>

    <br>
    <br>

    <!-- First Row director actor adds-->

    <a href="/director">Add Director to The Database</a>
    <span style="display:inline-block; width: 373px;"></span>
    <a href="/actor">
        Add Actor to the Database
    </a>

    <!-- Second Row director actor edits/views-->

    <br>
    <br>

    <a href="/view_directors" id="directorLink">
        View, Edit, or Delete
        Directors
    </a>
    <span style="display:inline-block; width: 373px;"></span>
    <a href="/view_actors">View, Edit, or Delete Actors</a>

    <!-- Third Row movie stuntperson adds-->


    <br>
    <br>
    <br>
    <br>

    <a href="/stuntperson">Add Stuntperson to the Database</a>
    <span style="display:inline-block; width: 348px;"></span>
    <a href="/movie">
        Add Movie to the Database (A Director Must Already Be In The
        Database)
    </a>
    <!-- Forth Row movie stuntperson view/edit-->


    <br>
    <br>

    <a href="/view_stuntpersons">View, Edit, or Delete Stuntperson</a>
    <span style="display:inline-block; width: 349px;"></span>
    <a href="/view_movies">View, Edit, or Delete Movies</a>


    <br>
    <h3>___________________________________________________________________________________________________________________________________________________________
    </h3>
    <br>

    <a href="/add_movie_actor">Add Actor and Movie Relationship</a>
    <span style="display:inline-block; width: 345px;"></span>
    <a href="/add_stuntperson_actor">Add Actor and Stuntperson Pairing</a>

    <br>
    <br>

    <a href="/movie_actor_management">
        Manage, Edit, or Delete Movie and Actor
        Relationships
    </a>
    <span style="display:inline-block; width: 198px;"></span>
    <a href="/stuntperson_actor_management">
        View or Delete Stuntperson and Actor Pairings
    </a>

    <br>
    <h3>___________________________________________________________________________________________________________________________________________________________
    </h3>
    <br>



</body>

<script src="/movieDBDOM.js"></script>

</html>